<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.7.0/dijit/themes/claro/claro.css" media="screen">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.7.0/dojox/grid/resources/Grid.css" media="screen">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.7.0/dojox/grid/resources/claroGrid.css" media="screen">
        <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.0/dojo/dojo.js"
        data-dojo-config="isDebug: true,parseOnLoad: true"></script>
    
        <title>ChirpReact</title>
        <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;
            padding: 0;
        }
        body {
            background-color: #cfdfef;
        }
         
        #appLayout {
            height: 100%;
        }
        #leftCol {
            width: 17em;
        }
        </style>
    </head>
    <script>
/* Dojo doesn't expect WebSocket to be named MozWebSocket,
this is likely to break in the future */
if (typeof MozWebSocket != "undefined") {
    WebSocket = MozWebSocket
}

dojo.require("dojox.socket");
dojo.require('dojo.store.Memory');
dojo.require('dojo.store.Observable');
dojo.require('dojo.data.ObjectStore');
dojo.require('dojox.charting.Chart');
dojo.require('dojox.charting.widget.Chart2D');
dojo.require('dojox.charting.themes.Claro');
dojo.require('dojox.charting.StoreSeries');
dojo.require('dojox.charting.action2d.Tooltip');
dojo.require('dojox.charting.action2d.Highlight');
dojo.require('dojox.grid.DataGrid');

dojo.require("dijit.layout.BorderContainer");
dojo.require("dijit.layout.AccordionContainer");
dojo.require("dijit.layout.ContentPane");
dojo.require("dijit.layout.TabContainer");

dojo.require("dijit.Dialog");
dojo.require("dijit.form.Form");
dojo.require("dijit.form.Button");
dojo.require("dijit.form.RadioButton");
dojo.require("dijit.form.NumberSpinner");

dojo.ready(function(){
    dojo.xhrGet({
        url: "/initial_symbols",
        load: function(data) {
            store = dojo.store.Observable(new dojo.store.Memory({
                idProperty: "id",
                data: dojo.fromJson(data),
            }));
            buildStockChart();
            connectToSymbolSocket();
        }
    });
});

function connectToSymbolSocket() {
    var socket = dojox.socket.WebSocket({ url:"/symbolws" }, false);
    socket.on("message", function(event) {
        global_event = event
        var msg = dojo.fromJson(event.data);
        var symbol = store.get(msg['id'])
        symbol.value += 1;
        store.put(symbol);

        var recent_tweets = dojo.byId("recent_tweets");
        recent_tweets.innerHTML += "<p>" + msg['status'] + "</p>";
    });
}

function buildStockChart() {
    var chart1 = new dojox.charting.Chart('chart1');
    chart1.addAxis('x',{
        labelFunc: function(index) {
            if (store.query({})[index - 1] != undefined)
                return store.query({})[index - 1].id
            else
                return ""
        },
        minorTicks: false
    });
    chart1.addAxis('y',{vertical: true, min: 0, max: 30});
    chart1.addSeries("Series 1", new dojox.charting.StoreSeries(store, {query:{}}), "value");
    chart1.addPlot("default", {type: 'Columns', gap: 5});

    var anim4c = new dojox.charting.action2d.Tooltip(chart1, "default");
    var anim5c = new dojox.charting.action2d.Highlight(chart1);
    chart1.setTheme(dojox.charting.themes.Claro)

    chart1.connectToPlot("default", chart1, function(o){
        if (o.type === "onclick") {
            var symbol = store.query({})[o.index].id;
            dijit.byId("purchaseSymbol").set("value", symbol);
            var tabContainer = dijit.byId("tabLayout");
            var pane = new dijit.layout.ContentPane({
                title: symbol,
                href: "/stock_info/" + symbol,
                //content: "Happy text!",
                closable: true
            });
            tabContainer.addChild(pane);
            tabContainer.selectChild(pane);
        }
    });

    chart1.render();
}

function setupQuickTradeForm() {
    var quickTradeForm = new dijit.form.Form({
        method: "POST",
        action: "quick_order"
    }, "quickTradeForm");

    var purchaseSymbol = new dijit.form.TextBox({
        name: "symbol"
    }, "purchaseSymbol");

    var quantitySpinner = new dijit.form.NumberSpinner({
        name: "quantity",
        value: 10,
        smallDelta: 5,
        constraints: { min: 0 },
    }, "quantitySpinner");

    var buyRadio = new dijit.form.RadioButton({
        checked: true,
        name: "buyOrSell",
        value: "buy"
    }, "buyRadio");

    var sellRadio = new dijit.form.RadioButton({
        name: "buyOrSell",
        value: "sell"
    }, "sellRadio");

    var placeOrder = new dijit.form.Button({
        label: "Place Order",
        onClick: function() {
            dojo.xhrPost({
                form: dojo.byId("quickTradeForm"),
                load: function (data) {
                    var order_data = dojo.fromJson(data)['response'];
                    if (order_data['error']) {
                        new dijit.Dialog({
                            title: "There was an error placing the order",
                            content: order_data['error']
                        }).show();
                    } else {
                        orderHistoryStore.add({
                            symbol: order_data['quotes'][0]['instrument']['sym'],
                            price: order_data['quotes'][0]['quote']['bidprice'],
                            quantity: order_data['quotes'][0]['quote']['extendedquote']['bidsize']
                        });
                    }
                }
            });
        },
    }, "placeOrder");
}
dojo.addOnLoad(setupQuickTradeForm);

/*
The Order History object store is horribly broken,
it uses the symbol as a unique key, which obviously isn't unique.
Not a big problem considering a successful order probably won't ever
occur anyways.
*/
function setupOrderHistoryGrid() {
    orderHistoryStore = dojo.store.Observable(new dojo.store.Memory({
        idProperty: "symbol",
        data: []
    }));

    /* Some data being manually added to show what kind of data that would
       show up in the table */
    orderHistoryStore.add({symbol: "MSFT", price: "$20", quantity: "10"})
    orderHistoryStore.add({symbol: "AAPL", price: "$19", quantity: "14"})

    var orderHistoryGrid = new dojox.grid.DataGrid({
        store: dataStore = dojo.data.ObjectStore({objectStore: orderHistoryStore}),
        query: { symbol: "*" },
        structure: [
            {name: "Symbol", field: "symbol", width: "80px"},
            {name: "Quantity", field: "quantity", width: "90px"},
            {name: "Price", field: "price", width: "60px"}
        ]
    }, "orderHistoryGrid");
    orderHistoryGrid.startup();
}
dojo.addOnLoad(setupOrderHistoryGrid);
    </script>
    <body class="claro">
        <div id="appLayout" class="demoLayout" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="design: 'headline'">
            <div id="tabLayout" class="centerPanel" data-dojo-type="dijit.layout.TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'">
                <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: 'Stocks Graph'">
                    <div id="chart1" style="width: 100%; height: 100%;"></div>
                </div>
                <div id="recent_tweets" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: 'Recent Tweets'">
                </div>
            </div>
            <div class="edgePanel" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'top'" style="border: 0; background-color: transparent">
                <span style="font-size: 2em;">ChirpReact</span>
            </div>
            <div id="leftCol" class="edgePanel" data-dojo-type="dijit.layout.AccordionContainer" data-dojo-props="region: 'right', splitter: true">
            <!-- <div id="leftCol" class="edgePanel" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'right', splitter: true"> -->
                <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: 'Quick Order'">
                    <h3>Quick Order</h3>
                    <div id="quickTradeForm">
                        <label>Symbol:</label>
                        {% raw xsrf_form_html() %}
                        <input id="purchaseSymbol">
                        <br><br>
                        <label>Quantity:</label>
                        <div id="quantitySpinner"></div>
                        <br><br>
                        <input type="radio" id="buyRadio">
                        <label for="buyRadio">Buy</label><br>
                        <input type="radio" id="sellRadio">
                        <label for="sellRadio">Sell</label><br>
                        <br>
                        <input type="submit" id="placeOrder">
                    </div>
                </div>
                <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title: 'Order History'">
                    <div id="orderHistoryGrid"></div>
                </div>
            </div>
        </div>
    </body>
</html>
